.div{
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}
.main-container{

    height: 100vh ;
    width: 100vw;
    /* display: flex; */
    align-items: center;
    
}
.h1{
    color: gray;
}
.img{
        margin-top: 15%;
}
Button{
    margin-top: 10px;
}