.main-log-container {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9090d8;
}

.log-form-container {
  height: 60%;
  width: 40%;
  background-color: #f0f0f0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-form-container label {
  color: red;
  font-weight: bold;
}

.log-form-container input {
  border: 2px solid purple;
  border-radius: 10px;
  width: 90%;
}

.log-form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.log-form-container button {
  background-color: purple;
  color: white;
  /* border: 1px solid yellow; */
  border-radius: 29px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.heading{
  color: rgb(39, 39, 40);
  align-items: center;
  justify-content: center;
}