section {
  height: 100vh;
  width: 100vw;
}
.page-1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  margin-top: 4%;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100px;
  /* padding: 20px 10vw; */
}
.custom-image {
  width: 200px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  display: block; /* Ensuring the image behaves as a block element */
  margin: 0 auto;
}
.package-container {
  margin-top: 20px;
  text-align: center; /* Center aligning the content */
}
.package-container2 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  display: inline-block; 
}

.package-row {
  width: 50%;
  background-color: red;
}
.package-name{
  font-size: 30px;
  color: gray;
  margin-bottom: 10px;
  
}
.package-type{
  font-size: 10px;
  color: #969393;
}
.modal-body{
  display: flex;
  flex-direction: column;
}
.modal-footer {
  justify-content: space-between;
}
.navbar-scroll {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto;
}